.investButton {
  background-color: #f3c178;
  padding: 1em 2em;
  border-radius: 1em;
  color: #0f3a74;
  border: 0.25em solid #f1a532;
  font-family: "Orbitron", sans-serif;
  font-size: 1em;
  margin: 1em 0 0 0;
}

.investButton:focus {
  outline: none;
}

.investButton:hover {
  cursor: pointer;
}

.header {
  max-width: 100%;
  color: #658ec6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}

.header-title {
  font-family: "Orbitron", sans-serif;
  font-size: 3em;
  color: #426696;
}

.header-left {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 4em;
  width: 360px;
}

.header-right {
  display: flex;
  justify-content: center;
  min-width: 30%;
}

.iphone-image {
  width: 22em;
  height: auto;
}
