.glass {
  min-height: 80vh;
  width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 3em;
  backdrop-filter: blur(2rem);
}

.account-title {
  width: 100%;
  color: #658ec6;
  font-size: 1.5rem;
  margin: 1em 0 1em 0;
  text-align: center;
}

.dashboard {
  display: flex;
  width: 78%;
  justify-content: space-around;
  margin: 0 0 2em 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.stockcard-container {
  margin: 0 0 1em 0;
}

/* .dashboard {
  display: grid;
  width: 2fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(autofill, 2fr);
  grid-auto-flow: row;
  grid-gap: 20px 20px;
} */
